@import "~bulma/bulma.sass";

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:550px;

	color:#fff;
	text-align:center;

	background-image: url('https://i.imgur.com/nxZ1A33.png');
	
	background-color: #f7882f;
  background-size:cover;
}

.hero-content {
	max-width:600px;
	font-weight: 700;
}
.hero-content p {
	font-size:24px;
}
.hero-button {
	margin-top:20px;
  background-color: #687a8f;
  color: white;
  border-radius: 4px;
  width: 250px;
}